
@{
    Layout = null;
}


<!doctype html>
<html lang="en">

@Html.Partial("PartialHead")

<body id="home">
    @Html.Partial("PartialNavbar")

    @Html.Partial("PartialScript")

    @Html.Partial("PartialSlider")

    @Html.Action("PartialBooking")

    @Html.Partial("PartialImages")

    @Html.Action("PartialDestination")

    @Html.Partial("PartialExplore")

    @Html.Partial("PartialBookingImage")

    @Html.Partial("PartialFooter")

    @Html.Partial("PartialScript2")

</body>

</html>