﻿
@{
    Layout = null;
}



<!doctype html>

<html lang="en">
<head>
    @Html.Partial("PartialHead")
</head>
<body id="home">

    @Html.Partial("PartialNavbar")

    @Html.Partial("PartialScript")

    @Html.Partial("PartialServices")

    @Html.Partial("PartialCities")

    @Html.Partial("PartialFooter")

    @Html.Partial("PartialScript2")
</body>

</html>