
@{
    Layout = null;
}

<!doctype html>

<html lang="en">

<head>
    @Html.Partial("PartialHeader")
</head>

<body id="home">

    @Html.Partial("PartialNavbar")

    @Html.Partial("PartialScript")

    @Html.Partial("PartialAbout")

    @Html.Partial("PartialSection1")

    @Html.Partial("PartialSection2")

    @Html.Partial("PartialSection3")

    @Html.Partial("PartialEmployees")

    @Html.Partial("PartialFooter")

    @Html.Partial("PartialScript2")

</body>

</html>